@font-face {
  font-family: 'Red-Hat-Bold';
  src: url(/assets/fonts/static/RedHatText-Bold.ttf) format(TrueType);
}

@font-face {
  font-family: 'Red-Hat-Semi-Bold';
  src: url(/assets/fonts/static/RedHatText-SemiBold.ttf) format(TrueType);
}

@font-face {
  font-family: 'Red-Hat-Regular';
  src: url(/assets/fonts/static/RedHatText-Regular.ttf) format(TrueType);
}

:root {
  --color-red: hsl(14, 86%, 42%);
  --color-rose-50: hsl(20, 50%, 98%);
  --color-rose-100: hsl(13, 31%, 94%);
}

body {
  font-family: 'Red-Hat-Regular';
  background-color: var(--color-rose-50);
}

button {
  transition:
    background-color .2s linear,
    color .2s linear;
}

.f-red-hat-bold {
  font-family: 'Red-Hat-Bold';
}

.f-red-hat-semi-bold {
  font-family: 'Red-Hat-Semi-Bold';
}

.f-red-hat-regular {
  font-family: 'Red-Hat-Regular';
}

.color-red {
  color: var(--color-red);
}

.color-green {
  color: hsl(159, 69%, 38%);
}

.color-rose-50 {
  color: var(--color-rose-50);
}

.color-rose-100 {
  color: var(--color-rose-100);
}

.color-rose-300 {
  color: hsl(14, 25%, 72%);
}

.color-rose-400 {
  color: hsl(7, 20%, 60%);
}

.color-rose-500 {
  color: hsl(12, 20%, 44%);
}

.color-rose-900 {
  color: hsl(14, 65%, 9%);
}

.border-red {
  border: 1px solid var(--color-red);
}

.bg-rose-100 {
  background-color: var(--color-rose-50);
}

/* Active states */

.outline-red {
  outline: 3px solid var(--color-red);
}

.bg-red {
  transition:
    background-color .2s linear,
    color .2s linear;

  background-color: var(--color-red);
  color: var(--color-rose-50);
}

.color-red-hover:hover {
  transition: color .2s linear;
  color: var(--color-red);
}