@font-face {
    font-family: 'Red-Hat-Bold';
    src: url(/assets/fonts/static/RedHatText-Bold.ttf) format(TrueType);
}

@font-face {
    font-family: 'Red-Hat-Semi-Bold';
    src: url(/assets/fonts/static/RedHatText-SemiBold.ttf) format(TrueType);
}

@font-face {
    font-family: 'Red-Hat-Regular';
    src: url(/assets/fonts/static/RedHatText-Regular.ttf) format(TrueType);
}

body {
    font-family: 'Red-Hat-Regular';
}

.f-red-hat-bold {
    font-family: 'Red-Hat-Bold';
}

.f-red-hat-semi-bold {
    font-family: 'Red-Hat-Semi-Bold';
}

.f-red-hat-regular {
    font-family: 'Red-Hat-Regular';
}
